<h1>Hi <%= name %> </h1>
<p>If you see this then this means you are Authenticated User!</p>
<p>Never forget to drink water.</p>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out!</button>
</form>